body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: url("/media/bgbla.png") center/cover;
  color: #e8e6e3;
  font-size: 1.3em;
}

header {
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background: url("/media/bgla.jpg") no-repeat center/cover;
  width: 100%;
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  text-shadow: -5px 4px black;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  z-index: 5;
  position: relative;
}

.sommaire {
  box-shadow: 0 0 6px black;
  border: 4px solid black;
  width: 20%;
  height: 70%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 10px;
  z-index: 2;
  background-color: #272a2c;
}

section {
  background-color: #272a2c;
  width: 74%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 4px solid black;
}

main {
  height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

a {
  color: beige;
  text-decoration: none;
}
